/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondos.jpg");
    background-repeat: no-repeat;

}

.titulo{

    font-size: 60px;
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.fond{
    height: 300px;
    width: 300px;
    background-image: url("fond.jpg");
    background-repeat: no-repeat;
}